#centerPane {
	-fx-background-color: #3f3f3f;
}

#addNewCampaign {
	-fx-fill: WHITE;
}

#leftPane {
	-fx-background-color: #333030;
}

#rightPane {
	-fx-background-color: #333030;
}

.chart-pie-label {
    -fx-fill: #ffffff;
    -fx-font-size: 1em;
}

#text {
	-fx-fill: WHITE;
	-fx-text-fill: WHITE;
}

#h1 {
	-fx-font-size: 22;
	-fx-fill: WHITE;
}

#h2 {
	-fx-font-size: 16;
	-fx-fill: WHITE;
}

#plus {
	-fx-font-size: 22;
	-fx-fill: WHITE;
	-fx-font-weight: bold;
}

#checkBox {
	-fx-text-fill: WHITE;
}

#dataText {
	-fx-font-size: 12;
	-fx-fill: WHITE;
}

#dataText:hover {
	-fx-fill: GREY;
}

#dataField {
	-fx-text-fill: WHITE;
	-fx-background-color: #5b5b5b;
	/*-fx-font-size: 16;*/	
}

#filterByDate {
	-fx-fill: WHITE;
	-fx-font-size: 18;
	-fx-underline: true;
}

#filterByDate:hover {
	-fx-fill: GREY;
}

#chart {
}



/* StyleSheet.css */

.chart {
	-fx-background-color: #5b5b5b;
    -fx-padding: 10px;
}

.chart-content {
    -fx-padding: 30px;
}

.chart-title {
    -fx-text-fill: #fbfffd;
    -fx-font-size: 1.6em;
}

.chart-legend {
    -fx-background-color: #948e8e;
    -fx-padding: 20px;
}

.chart-legend-item-symbol {
    -fx-background-radius: 0;
}

.chart-legend-item {
    -fx-text-fill: #fbfffd;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.axis {
    -fx-font-size: 1.4em;
    -fx-tick-label-fill: #fbfffd;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}

.axis-label {
    -fx-text-fill: #fbfffd;
}

.axis-tick-mark {
    -fx-stroke: #ffffff;
    -fx-stroke-width: 3;
}

.axis-minor-tick-mark {
    -fx-stroke: #fbfffd;
}


.default-color0.chart-series-line {
    -fx-stroke: #5a5397;
}

.default-color1.chart-series-line {
    -fx-stroke: #c676f0;
}

.default-color2.chart-series-line {
    -fx-stroke: #dd7271;
}

.default-color0.chart-line-symbol {
    -fx-background-color:  #5a5397, white;
}

.default-color1.chart-line-symbol {
    -fx-background-color: #c676f0, white;
}

.default-color2.chart-line-symbol {
    -fx-background-color: #dd7271, white;
}