#centerPane {
	-fx-background-color: #c1ffd9;
}

#addNewCampaign {
	-fx-fill: #d3ffe4;
}

#leftPane {
	-fx-background-color: #91d6ac;
}

#rightPane {
	-fx-background-color: #91d6ac;
}


#text {
	-fx-fill: #5b5b5b;
	-fx-text-fill: #5b5b5b;
}

#h1 {
	-fx-font-size: 22;
	-fx-fill: #5b5b5b;
}

#h2 {
	-fx-font-size: 16;
	-fx-fill: #5b5b5b;
}

#plus {
	-fx-font-size: 22;
	-fx-fill: #5b5b5b;
	-fx-font-weight: bold;
}

#checkBox {
	-fx-text-fill: #5b5b5b;
}

#dataText {
	-fx-fill: #5b5b5b;
}

#dataText:hover {
	-fx-fill: GREY;
}

#dataField {
	-fx-text-fill: GREY;
	-fx-background-color: WHITE;
}

#filterByDate {
	-fx-fill: #5b5b5b;
	-fx-font-size: 18;
	-fx-underline: true;
}

#filterByDate:hover {
	-fx-fill: GREY;
}

/* StyleSheet.css */

.chart {
	-fx-background-color: #eaf2ff;
	-fx-background-radius: 10;
	-fx-padding: 10px;
}

.chart-content {
	-fx-padding: 30px;
}

.chart-title {
	-fx-font-size: 1.6em;
}

.chart-legend {
	-fx-background-color: #b9ebbd;
	-fx-padding: 20px;
}

.chart-legend-item-symbol {
	-fx-background-radius: 0;
}

.chart-legend-item {
	-fx-background-color:  #b9ebbd;
	-fx-text-fill: #343232;
}

.chart-pie-label {
	-fx-fill: #343232;
	-fx-font-size: 1em;
}

.chart-series-line {
	-fx-stroke-width: 2px;
	-fx-effect: null;
}

.axis {
	-fx-font-size: 1.4em;
	-fx-tick-length: 20;
	-fx-minor-tick-length: 10;
}

.axis-label {
}

.axis-tick-mark {
	-fx-stroke-width: 3;
}

.axis-minor-tick-mark {
}


.default-color0.chart-series-line {
	-fx-stroke: #5a5397;
}

.default-color1.chart-series-line {
	-fx-stroke: #c676f0;
}

.default-color2.chart-series-line {
	-fx-stroke: #dd7271;
}

.default-color0.chart-line-symbol {
	-fx-background-color:  #5a5397, white;
}

.default-color1.chart-line-symbol {
	-fx-background-color: #c676f0, white;
}

.default-color2.chart-line-symbol {
	-fx-background-color: #dd7271, white;
}

.chart {
	-fx-background-color: #91d6ac;
	-fx-background-radius: 10;
    -fx-padding: 10px;
}

/*
#menuButton {
	-fx-background-color: GREY;
}

#checkMenuItem {
	-fx-text-fill: BLACK;
}

#checkMenuItem:hover {
	-fx-background-color: GREY;
}
*/